#title {
	padding:10px;
	font-size: 30px;
}
#title-buttons {
	margin-left: auto; 
	margin-right: 10px;
}
#content-left{
	float:left;
	width: 50%;
	height: 100%;
	padding:10px;
}
#content-right{
	float:left;
	width: 50%;
	height: 100%;
	padding:10px;
}